<!DOCTYPE html>
<html>
  <head>
    <title>TopMovies</title>
    <!-- Include Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <style>
      body {
        font-family: Georgia, serif;
      }

      .container {
        margin-top: 20px;
      }

      .jumbotron {
        background-color: #638aa9;
        color: #ffffff;
        padding: 30px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron text-center">
        <h1>MovieMood</h1>
        <h2>Discover The Top 200 Movies!</h2>
      </div>
      <div>
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>Movie ID</th>
              <th>Title</th>
              <th>Genres</th>
              <th>Weighted Rating</th>
              <th>Popularity</th>
              <th>Year</th>
            </tr>
          </thead>
          <tbody>
            {% for id, title, genre, weighted_rating,popularity,year in
            movie_info%}
            <tr>
              <td>{{ id }}</td>
              <td>{{ title }}</td>
              <td>{{ genre }}</td>
              <td>{{ weighted_rating }}</td>
              <td>{{ popularity }}</td>
              <td>{{ year }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
